.App {
  font-family: sans-serif;
  text-align: center;
}
a {
  color: rgb(0, 113, 133);
}
a:hover {
  color: orangered;
}
.nike {
  font-weight: bolder;
  font-size: 200%;
}
.cost {
  font-weight: bolder;
  font-size: 150%;
  color: rgb(0, 118, 0);
}
.cart {
  background-color: rgb(255, 216, 20);
  color: black;
  height: 40px;
  width: 180px;
  border-radius: 18px;
  border: none;
  font-weight: bold;
  font-size: 14;
  cursor: pointer;
}
.cart:hover {
  background-color: rgba(247, 172, 10, 0.7);
}
.buy {
  background-color: rgb(255, 164, 28);
  color: black;
  height: 40px;
  width: 180px;
  border-radius: 18px;
  border: none;
  font-weight: bold;
  font-size: 14;
  cursor: pointer;
}
.buy:hover {
  background-color: rgba(249, 206, 142, 0.8);
}
